* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

div#container {
    margin-top: 5vh;
    /* background-color: yellow; */
    min-width: 60%;
    max-width: 800px;
    padding: 20px;
    border-radius: 10px;
}

div#text {
    text-align: center;
    margin-bottom: 30px;
}

div#prev-gpa {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
div#gpa-container {
    border: 2px solid black;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-radius: 12px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

div.subject {
    margin: 5px 0;
    padding: 5px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 12px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

@media (max-width: 775px) {
    div.subject {
        flex-direction: column;
    }

    div#gpa-container, div#prev-gpa {
        flex-direction: column;
        align-items: left;
        gap: 10px;
    }
}

div.sr {
    width: 40px;
    text-align: center;
}


.suBox {
    display: flex;
    /* background-color: white; */
    width: 80px;
    text-align: center;
    justify-content: space-evenly;
}

.remove {
    width: 40px;
}

div#buttons {
    text-align: center;
    margin-top: 30px;
}

button, input, select{
    border: none;
    padding: 2px 4px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 6px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    border-radius: 12px;
}

input[type="checkbox"] {
    scale: 1.2; 
}

input:focus {
    border: 2px solid white;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}

button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);
}

button#add-subject-button {
    padding: 5px 20px;
}

button#add-subject-button:hover {
    opacity: 0.8;
}

div.result {
    margin-top: 20px;
    padding: 5px 20px;
    border-radius: 12px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    width: fit-content;
    align-self: center;
}

div {
    font-size: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield; 
  text-align: center; 
}

.suCheckbox {
    appearance: none;
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    transition: all 0.2s ease;
}

.suCheckbox:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.suCheckbox:checked {
    background-color: var(--checked-color, #dcb0f2)
}

.suCheckbox::after {
    content: '';
    position: absolute;
    display: none; 
    left: 5px;
    top: 3px;
    width: 4px;
    height: 7px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.suCheckbox:checked::after {
    display: block;
}

input:focus, button:focus, select:focus {
    outline: none;
    border: none
}